<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <title>Spring Boot Thymeleaf Hello World Example</title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" th:fragment="header">
    <div class="navbar">
        <div class="navbar-collapse-collapse">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">miro2cml</a>
            </div>
            <ul class="nav-navbar-nav">
                <li th:classappend="${module == 'home' ? 'active' : ''}">
                    <a href="#" th:href="@{/}">Home</a>
                </li>
                <li th:classappend="${module == 'supportedTemplates' ? 'active' : ''}">
                    <a href="#" th:href="@{/supportedTemplates}">Supported Templates</a>
                </li>
                <li th:classappend="${module == 'tutorials' ? 'active' : ''}">
                    <a href="#" th:href="@{/tutorials}">Tutorials</a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>