<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="no-output">
    <div class="card">
        <div class="card-header">
            <h5 class="text-left">Context Mapper Output</h5>
        </div>
        <div class="card-body">
            <div class="row no-gutters my-0 mx-0">
                <div class="form-group align-items-center col-12 alert alert-danger px-1 " role="alert">
                    <h4 class="alert-heading">Something went wrong</h4>
                    <span>Board Name:   </span><span th:text="${convertedBoard.getName()}"></span><br>
                    <span>Board Id:     </span><span th:text="${form.getBoardId()}"></span><br>
                    <span>Board Type:   </span><span th:text="${form.getBoardType()}"></span><br>
                    <th:block th:each="message : ${mappingMessages}">
                        <span style="font-weight: bold" th:text="${message}"></span><br>
                    </th:block>
                </div>
                <div class="col-10 pr-0"></div>
                <a class="col-2 row mx-0" target="_blank" th:href="${convertedBoard.getBoardLink()}">
                    <Button type="button" class="btn btn-raised btn-primary align-self-end col-12">Open Board in Miro</Button>
                </a>

                <div class="col-12 pr-0">
                    <span>Log-Preview:</span>
                    <textarea class="responsiveBox pr-0" cols="50" readonly th:rows="${logPreviewLinesCount}"
                              th:text="${logPreview}"></textarea>
                </div>
                <label class="col-2 align-middle col-form-label" for="logfile">Your Log-File:</label>
                <input class="form-control col-5 text-right" id="logfile" readonly
                       th:placeholder="@{|M2C-${convertedBoard.getName()}-${form.getBoardId()}.log|}" type="text">
                <div class="col-3"></div>
                <a class="col-2 row mx-0" target="_blank" th:href="${logDownloadLink}">
                    <Button type="button" class="btn btn-raised btn-primary col-12"> Download Logfile</Button>
                </a>
            </div>
        </div>
    </div>
</div>

</body>
</html>