<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="output">
    <div class="card">
        <div class="card-header">
            <h5 class="text-left">Context Mapper Output</h5>
        </div>
        <div class="card-body">
            <form>
                <div class="form-group align-items-center">
                    <div class="row no-gutters mx-0 my-0 py-0 justify-content-end">
                        <div class="col-12 alert alert-success px-1" role="alert" th:if="${perfectMapping}">
                            <h4 class="alert-heading">Your Board Conversion Request has been processed</h4>
                            <span>Board Name</span><span th:text="${convertedBoard.getName()}"></span><br>
                            <span>Board Id:</span><span th:text="${form.getBoardId()}"></span><br>
                            <span>Board Type:</span><span th:text="${form.getBoardType()}"></span><br>
                            <th:block th:each="message : ${mappingMessages}">
                                <span style="font-weight: bold" th:text="${message}"></span><br>
                            </th:block>
                        </div>
                        <div class="col-12 alert alert-warning px-1" role="alert" th:unless="${perfectMapping}">
                            <h4 class="alert-heading">Your Board Conversion Request has been processed</h4>
                            <span>Board Name</span><span th:text="${convertedBoard.getName()}"></span><br>
                            <span>Board Id:</span><span th:text="${form.getBoardId()}"></span><br>
                            <span>Board Type:</span><span th:text="${form.getBoardType()}"></span><br>
                            <th:block th:each="message : ${mappingMessages}">
                                <span style="font-weight: bold" th:text="${message}"></span><br>
                            </th:block>
                        </div>
                        <div class="col-10 pr-0"></div>
                        <a class="col-2 row mx-0" target="_blank" th:href="${convertedBoard.getBoardLink()}">
                            <Button type="button" class="btn btn-raised btn-primary align-self-end col-12">Open Board in Miro</Button>
                        </a>
                        <div class="col-12 pr-0">
                            <div class="row">
                                <span class="col-9 align-middle col-form-label">ContextMapperLanguage-Preview:</span>
                                <a class="col-3 align-middle text-right col-form-label" target="_blank" href="https://contextmapper.org/docs/language-reference/">Open CML Reference</a>
                            </div>
                            <textarea class="responsiveBox pr-0" cols="50" readonly th:rows="${cmlPreviewLinesCount}"
                                      th:text="${cmlPreview}"></textarea>
                        </div>
                        <span class="col-12 align-middle">For syntax highlighting, please download the CML File and open it with your favourite ContextMapper-enabled IDE or simply copy-paste the CML-Preview into the ContextMapper-enabled IDE of your choice</span>
                        <label class="col-2 align-middle col-form-label" for="output_cml">Your CML-File:</label>
                        <input class="form-control col-6" id="output_cml" readonly
                               th:placeholder="@{|M2C-${convertedBoard.getName()}-${convertedBoard.getBoardId()}.cml|}" type="text">
                        <a class="col-2 row mx-0" target="_blank" th:href="${logDownloadLink}">
                            <Button type="button" class="btn btn-raised btn-primary align-self-end col-12">Download Logfile</Button>
                        </a>
                        <a class="col-2 row mx-0" target="_blank" th:href="${cmlDownloadLink}">
                            <Button class="btn btn-raised btn-primary align-self-end col-12" type="button">Download CML</Button>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>