<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="userstory">
<div class="card-body">
    <h6>Which inputs are converted?</h6>
    <p>A User Story Map consists of Cards (that are ordered in two dimensions). Therefore only such Cards are converted. All other Miro elements are ignored.
        The Cards which are yellow and blue are ignored because they illustrate Tasks and Activities in the User Story Map.
        The titles of the Cards are relevant for the mapping; their descriptions and the other fields of the Card will be ignored.
    </p>
    <h6>Mapping Table</h6>
    <p>Supported Formats:</p>
    <ul class="list-group">
        <li class="list-group-item"> As a < actor > I want to < verb > a < entity > so that < benefit >.</li>
        <li class="list-group-item"> As an < actor > I want to < verb > an < entity > so that < benefit >.</li>
        <li class="list-group-item"> As a < actor > I want to < verb > an < entity > so that < benefit >.</li>
        <li class="list-group-item"> As an < actor > I want to < verb > a < entity > so that < benefit >.</li>
    </ul><br>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">Objects</th>
            <th scope="col">Allowed Characters</th>
            <th scope="col">Java Regex</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>< actor ></td>
                <td>upper and lowercase letters,<br>
                    numbers</td>
                <td>[A-Za-z0-9]+</td>
            </tr>
            <tr>
                <td>< verb ></td>
                <td>optional leading lowercase letters followed by<br>
                    upper and lowercase letters,<br>
                    numbers</td>
                <td>[a-z]?[a-zA-Z0-9]+</td>
            </tr>
            <tr>
                <td>< entity ></td>
                <td>upper and lowercase letters,<br>
                    numbers</td>
                <td>[a-zA-Z0-9]+</td>
            </tr>
            <tr>
                <td>< benefit ></td>
                <td>upper and lowercase letters,<br>
                    numbers, point, comma, colon<br>
                    space, apostrophe</td>
                <td>[A-Z,. ':a-z0-9]+</td>
            </tr>
        </tbody>
    </table>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">Card Title</th>
            <th scope="col">Card Color (Hex)</th>
            <th scope="col">Context Mapper Output</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>As an User I want to create a new album so that I am able to collect my songs.</td>
            <td>red (#FF5733)</td>
            <td><pre><code>UserStory createnewalbum { <br>As a "User"<br> I want to create a "new album" <br> so that "I am able to collect my songs".<br>} </code></pre></td>
        </tr>
        <tr>
            <td>As a Customer I want to buy a song so that I am able to add it to my list.</td>
            <td>green (#0FAF51)</td>
            <td><pre><code>UserStory buysong { <br>As a "Customer"<br> I want to "buy" an "song" <br> so that "I am able to add it to my list".<br>} </code></pre></td>
        </tr>
        <tr>
            <td>As an User I want to create a new album so that I am able to collect my songs.</td>
            <td>yellow (#fbc800)</td>
            <td>no output, because the card is yellow</td>
        </tr>
        <tr>
            <td>As an User I want to create a new album so that I am able to collect my songs.</td>
            <td>blue (#2d9bf0)</td>
            <td>no output, because the card is blue</td>
        </tr>
        <tr>
            <td>Card One: As a Customer I want to buy a song so that I am able to add it to my list.<br>
                Card Two: As a Singer I want to buy a song so that I could use its lyrics.</td>
            <td>both green (#0FAF51)</td>
            <td><pre><code>UserStory buysong { <br>As a "Customer"<br> I want to "buy" an "song" <br> so that "I am able to add it to my list".<br>} </code></pre>
                <pre><code>UserStory buysong1 { <br>As a "Singer"<br> I want to "buy" an "song" <br> so that "I could use its lyrics".<br>} </code></pre></td>
        </tr>
        </tbody>
    </table>
    <h6>Frequently Asked Questions (FAQ)</h6>
    <p><b>Why are my Cards not converted?</b></p>
    <ul>
        <li>The Cards are yellow or blue.</li>
        <li>They do not have the correct text format. Check if you use the correct format as introduced in the <a th:href="@{/UserStories}">tutorial</a>.</li>
        <li>The User Stories are not in the title defined of the Miro Cards.</li>
    </ul>
    <p><b>How is the title of the User Story generated?</b></p>
    <p>The title is the verb concatenated with the entity of the User Story.</p>
    <p><b>Why are some numbers added to the title of the User Story?</b></p>
    <p>The Context Mapper tool expects unique titles for the User Stories. If there are equal titles, the miro2cml
        converter adds '1' <!-- [Q] hwo about 2, 3, etc? --> at the end of the name to make sure that the conversion produce a correct CML file.</p>
    <p><b>Why do some verbs have quotations marks at the beginning and at the end?</b></p>
    <p>The Context Mapper knows the CRUD verbs (create, read, update, delete). Therefore they do not need quotation marks. All other verbs are between the quotations marks to mark them as a string.</p>
    <a class="btn btn-primary" th:href="@{/UserStories}">Go to Tutorial</a>
    <!-- [C] add a FAQ about attributes (not mapped) -->
</div>
</div>
</body>
</html>