/* #2a303e, 42 :48 :62  (Rahmen, Text)
#e4004d, 228:0  :77  (Pink, dunkel)
#f94884, 249:72 :132 (Pink, mittel)
#ff77a5, 255:119:165 (Pink, hell)
#01689b, 1  :104:155 (Blau, dunkel)
#2996cb, 41 :150:203 (Blau, mittel)
#47aadc, 71 :170:220 (Blau, hell) */
html{
    margin: 0;
    height: 100%;
}
body {
    font-family: Arial, serif;
    padding: 0;
    margin: 0;
    background-image:linear-gradient(160deg, #f9d12c 20%, white 70%);
}

#mirologo {
    top: 60px;
    left: 5px;
}

h5{
    color: #e4004d;
    font-weight: bold;
}

img {
    width: 10%;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: -1;
}
.card {
    border: 4px solid #2a303e;
    box-shadow: 10px 10px 5px lightgray;
}

button {
    background-color: #01689b!important;
}

button:hover {
    background-color:#47aadc!important;
    color: black!important;
}

.bg-dark {
    background-color: #06063b!important;
}

button > a {
    text-decoration: none;
    color: white;
}

.container {
    margin-top: 50px;
}
