body {
    font-family:Arial;
    padding: 0px;
    margin: 0px;
}



h1 {
    color: #0000FF;
}

h2 {
    color: #6d4c41;
}
button a {
    text-decoration: none;
    color: white;
}
.container{
    margin-top: 50px;
}