body {
    font-family: Arial, serif;
    padding: 0;
    margin: 0;
}
h1 {
    color: #0000FF;
}

h2 {
    color: #6d4c41;
}

button a {
    text-decoration: none;
    color: white;
}

.container {
    margin-top: 50px;
}