<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headerinc :: head">
</head>
<body>
<div th:replace="fragments/header ::header"></div>
<div class="container">
    <div class="card">
        <h4 class="card-header">CML Output</h4>
        <div class="card-body">
            <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">GetBoardCall succeeded!</h4>
                <span>BoardId:</span><span th:text="${form.getBoardId()}"></span><br/>
                <span>AccessToken:</span><span th:text="${form.getAccessToken()}"></span><br/>
                <span>BoardType:</span><span th:text="${form.getBoardType()}"></span><br/>
            </div>
            <div class="output-container">
                <div class="form-group">
                    <label for="output_cml">Download your CML-File:</label><br>
                    <input id="output_cml" class="form-control" type="text" placeholder="output.cml" readonly><br>
                </div>
                <Button class="btn btn-raised btn-primary"><a download="cmlOutput.cml" th:href="@{|/download?name=${form.getBoardId()}|}">Download</a></Button>
            </div>

        </div>


    </div>

</div>
</body>
</html>