<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div align="center">
    <h2>GetBoardCall succeeded!</h2>
    <span>BoardId:</span><span th:text="${form.getBoardId()}"></span><br/>
    <span>AccessToken:</span><span th:text="${form.getAccessToken()}"></span><br/>
    <span>BoardType:</span><span th:text="${form.getBoardType()}"></span><br/>
</div>
<div align="center" class="output-container">
    <h2>CML Output</h2>
    <text>Link to file</text>
    <Button><a download="cmlOutput.cml" th:href="@{|/download?name=${form.getBoardId()}|}">Download</a></Button>
</div>
</body>
</html>