<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headerinc :: head">
</head>
<body>
<div th:replace="fragments/header ::header"></div>
<main class="container" role="main">
    <div class="card">
        <div class="card-header row">
            <h5 class="col text-left">Miro Input</h5> <h5 class="col text-center">Step 2 of 2</h5> <h5 class="col text-right">Select Board Type</h5>
        </div>
        <div class="card-body">
            <form action="/getBoard" method="post" th:object="${form}">
                <div class="form-group row align-items-center">
                    <span class="col-12">Use the Dropdown Menu to select the type of your Board</span><br>
                    <div class="col-12"></div><br>
                    <input name="boardId" th:field="*{boardId}" th:value="${form.getBoardId()}" type="hidden">

                    <label class="col-3" for="dropBoard">Miro Board Type: </label>
                    <select class="form-control col-9" id="dropBoard" name="boardType" th:field="*{boardType}">
                        <option th:each="miroBoard : ${boardTypes}" th:text="${miroBoard}"
                                th:value="${miroBoard}"></option>
                    </select>

                    <div class="col-12"></div><br>
                    <div class="col-10"></div>
                    <button class="btn btn-raised btn-primary col-2" type="submit">Select Board Type</button>

                </div>
            </form>
        </div>
    </div>
</main>
<div th:insert="fragments/footer ::footer"></div>
</body>
</html>