<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headerinc :: head">
</head>
<body>
<div th:replace="fragments/header ::header"></div>
<main class="container" role="main">
    <div class="card">
        <div class="card-header row">
            <h5 class="col text-left"> Miro Input</h5> <h5 class="col text-center">Step 1 of 2</h5> <h5
                class="col text-right">Select Board</h5>
        </div>
        <div class="card-body">
            <span>Select the Miro Board you want to convert</span>
            <form action="/selectBoardType" method="get" th:object="${form}">
                <div class="form-group row align-items-center">
                    <div class="row">
                        <th:block th:each="board : ${miroBoards}">
                            <div class="col-6">
                                <div class="alert alert-success container" role="alert">
                                    <label class="row align-items-center">
                                        <div class="col-1">
                                            <input th:id="${board.getBoardId()}" name="boardId" th:field="*{boardId}"
                                                   th:value="${board.getBoardId()}" type="radio"/>
                                        </div>
                                        <div class="col align-items-center">
                                            <span>Board Name: </span><span th:text="${board.getName()}"></span><br/>
                                            <span>Board Description: </span> <span
                                                th:text="${board.getDescription()}"></span><br/>
                                            <span>Board Link: </span> <span><a th:href="${board.getBoardLink()}"
                                                                               target="_blank">Go to Board</a></span>
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </th:block>
                    </div>
                    <div class="col-10"></div>
                    <button class="btn btn-raised btn-primary align-self-end col" type="submit">Select Board</button>
                </div>
            </form>
        </div>
    </div>

</main>
<!-- /.container -->
<div th:insert="fragments/footer ::footer"></div>
<script th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}" type="text/javascript"></script>
</body>
</html>