<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
<header>
    <div th:replace="fragments/header ::header"></div>
</header>
<br>
<main class="container" role="main">
    <div class="card">
        <div class="card-header">
            <h5>How to get started</h5>
        </div>
        <div class="card-body">
            <p>The first thing you need to do is authenticate yourself with Miro. Afterwards your boards will appear in
            the gray list. Choose your Board Type and select your MiroBoard you like to convert, as shown in the figure.</p>
            <img alt="Board selection form" th:src="@{/images/miroinput.png}" class="img-tutorial">
            <br>
            <br>
            <p>With the Button Map Board, you can convert your board. When the conversion is finished a new field appears:
            Context Mapper Ouput. If the first section is green, the input board was perfect. In the figure
                you can see such an ouput. If the first section is orange, there are some small errors. If it is red,
                the board could not be converted. In the log file as well as in the colored section are the information
                what went wrong. The preview shows the CML output or the log File if something went wrong. The files
                can be downloaded via the buttonn Download Logfile and Download CML.</p>
            <img alt="Example Context Mapper Output" th:src="@{/images/cmloutput.PNG}" class="img-tutorial">
            <br>
            <br>
            <h6>Board Type: EducatedGuessed</h6>
            <p>There is a possibility to set the board type to EducatedGuessed. The converter then decides which
                template was used and maps the board accordingly.</p>
        </div>
    </div>
</main>
<div th:insert="fragments/footer ::footer"></div>
</body>
</html>
