<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
<header>
    <div th:replace="fragments/header ::header"></div>
</header>
<br>
<main class="container" role="main">
    <div class="card">
        <div class="card-header">
            <h5>User Guide for UserStories</h5>
        </div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><h5>Step One: Create the MiroBoard</h5>
                    <p>First, select the template User Story Map Framework in Miro as shown in the picture bellow.</p>
                    <img alt="Template: User Story Map Framework" th:src="@{/images/WebUserStoryMap.PNG}" class="img-tutorial">
                    <p>Then you fill in the User Stories. The miro2cml converter only uses the title of the Cards,
                        you can use the rest of the Cards like you want. In the picture below, an empty and a filled out Card are shown.</p>
                    <img alt="Empty Card" th:src="@{/images/WebCards.PNG}" class="img-tutorial">
                    <p>Make sure that you use one of these formats for the User Stories:</p>
                    <ul class="list-group">
                        <li class="list-group-item"> As a < actor > I want to < verb > a < entity > so that < benefit >.</li>
                        <li class="list-group-item"> As an < actor > I want to < verb > an < entity > so that < benefit >.</li>
                        <li class="list-group-item"> As a < actor > I want to < verb > an < entity > so that < benefit >.</li>
                        <li class="list-group-item"> As an < actor > I want to < verb > a < entity > so that < benefit >.</li>
                    </ul><br>
                    <p>The yellow and blue Cards (in the picture red bordered) are not converted as User Stories. They are used as Tasks and
                        Activities in the Template and are therefore not relevant for the mapping.</p>
                    <img alt="Empty User Story Map Template" th:src="@{/images/MarkedUserStory.png}" class="img-tutorial"></li>
                <li class="list-group-item"><h5>Step Two: Convert the Board</h5>
                    <p>After you have created your board, you can convert it with the miro2cml Tool. Choose your board and the Board Type: User Stories.
                    For the example in the figure one the following output will be generated:</p>
                    <pre><code>
                        UserStory createaccount {
                            As a "User"
                            I want to "create" an "account"
                            so that "I could register".
                        }
                    </code></pre>
                    <p>The name of the User Story is composed of the verb and the entity. The rest is the same as your input</p></li>
                <li class="list-group-item"><h5>Step Three: Use the CML output</h5>
                    <p>The CML File with your User Stories is a good start for design work with the Context Mapper
                        Tool. Here is a <a href="https://ozimmer.ch/practices/2020/06/10/ICWEKeynoteAndDemo.html" target="_blank">Link</a> to a step by
                        step tutorial for further design work. You can skip the first step in this Tutorial, as you already have your Requirements defined.
                        If you're new to the Context Mapper here is a <a href="https://contextmapper.org/docs/getting-started/" target="_blank">Link</a> to the guide on how to Getting started.</p></li>
            </ul>
        </div>
    </div>
</main>
<div th:insert="fragments/footer ::footer"></div>
</body>
</html>