<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Spring Boot Thymeleaf Hello World Example</title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<body>


<main role="main" class="container">
    <div class="input-container">
        <h2>Miro Input</h2>
        <form action="/"  method="post" th:object="${form}" >
            <label for="boardid" >Miro Board Id:</label><br>
            <input type="text" id="boardid"  th:field="*{boardId}"><br>
            <label for="accesstoken">Miro Access Token:</label><br>
            <input type="text" id="accesstoken" th:field="*{accessToken}"><br>
            <label for="dropBoard">Miro Board Type: </label>
            <select class="form-control" th:field="*{boardType}" id="dropBoard" name="boardType">
                <option th:each="board : ${boardTypes}" th:value="${board}" th:text="${board}"></option>
            </select>
            <button type="submit">Submit</button>
        </form>
    </div>

</main>
<!-- /.container -->

<script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>
</html>